<header class="header-page flex justify-center align-center">
  <nav class="menu-header container flex justify-between align-center">
    <div class="box-logo">
      <a href="/">
        <h1 class="text-logo">{{ LOGO_NAME }}</h1>
      </a>
    </div>

    <div class="box-full-nav flex justify-between align-center">
      <ul class="box-taskbar flex justify-center align-center">
        @for (item of taskbarItems; track $index) {
        <li class="item-taskbar">
          <a routerLink="{{ item.url }}" class="link-taskbar">
            {{ item.name }}
          </a>
        </li>
        }
      </ul>
      <div class="box-resume">
        <a
          href="/testResume.pdf"
          target="_self"
          rel="noopener noreferrer"
          download="Delcio_Capolo_Resume"
          class="btn-download-resume flex justify-center align-center"
        >
          Resume <ng-icon name="hugeDownload04" size="20" strokeWidth="1.9" />
        </a>
      </div>
    </div>

    <div class="box-responsive-nav hidden justify-between align-center">
      <button
        type="button"
        class="btn-menu-responsive flex justify-between align-center"
      >
        <ng-icon name="hugeMenu01" size="25" strokeWidth="3" color="#333" />
      </button>

      <div class="taskbar-responsive flex justify-end align-center">
        <ul class="box-taskbar flex justify-center align-center">
          @for (item of taskbarItems; track $index) {
          <li class="item-taskbar">
            <a href="{{ item.url }}" class="link-taskbar">
              {{ item.name }}
            </a>
          </li>
          }
        </ul>

        <div class="box-resume">
          <a
            href="/testResume.pdf"
            target="_self"
            rel="noopener noreferrer"
            download="Delcio_Capolo_Resume"
            class="btn-download-resume flex justify-center align-center"
          >
            Resume <ng-icon name="hugeDownload04" size="20" strokeWidth="1.9" />
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
