.box-resume {
  .btn-download-resume {
    gap: 0.75rem;
    font: var(--button-semibold);
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.75rem 1.05rem;
    border: none;
    border-radius: var(--border-radius-default);
  }
}

.box-taskbar {
  gap: 0.5rem;

  .item-taskbar {
    .link-taskbar {
      display: inline-block;
      font: var(--heading5-semibold);
      padding: 0 0.85rem;
      line-height: 2.5;
    }
  }
}

.header-page {
  width: 100%;
  height: 90px;

  .menu-header {
    gap: 20%;
    .box-logo {
      & a h1 {
        line-height: 3;
        // padding: 0rem 1rem 0rem 0;
        font-size: medium;
      }
    }

    .box-full-nav {
      flex: 1 1 200px;

      @media screen and (max-width: 1045px) {
        & {
          display: none;
        }
      }
    }

    .box-responsive-nav {
      z-index: var(--z-index-10);
      @media screen and (max-width: 1045px) {
        & {
          display: flex;
        }
      }

      .btn-menu-responsive {
        padding: 0.45rem 1.15rem;
        border-radius: var(--border-radius-default);
        background-color: transparent;
      }

      .taskbar-responsive {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        transform: translate(-100%, 0);
        transition: all 0.3s ease-in-out;
        padding: 0.35rem 1rem;
        background-color: var(--white-001-color);
      }

      @media screen and (max-width: 560px) {
        .taskbar-responsive {
          width: 80%;
        }
      }

      &:has(.btn-menu-responsive:focus) .taskbar-responsive {
        transform: translate(0, 0);
      }

      .taskbar-responsive {
        gap: calc(100% - 325px);
        flex-direction: column;

        .box-taskbar {
          width: 100%;
          flex-direction: column;
          align-items: flex-start;

          .item-taskbar,
          .item-taskbar > .link-taskbar {
            width: 100%;
          }
        }

        .box-resume {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 1245px) {
      & {
        gap: 15%;
      }
    }
    @media screen and (max-width: 1065px) {
      & {
        gap: 8%;
      }
    }
  }
}
