$margin-bottom-box-title: 2.5rem;
$padding-parent: 3.5rem 0;

.box-home-page {
  .box-header-home {
    min-height: 707px;

    & > .box-header-container {
      flex: 1 1 200px;
    }

    @media screen and (max-width: 1045px) {
      flex-direction: column-reverse;
    }

    .box-content {
      gap: 6rem;

      @media screen and (max-width: 1045px) {
        gap: 2rem;
      }

      .box-content-text:nth-of-type(1) {
        gap: 1.35rem;

        .content-text:nth-of-type(1) {
          width: 85%;
          font: var(--display-text-regular);

          b:nth-of-type(1) > b {
            color: var(--black-color);
            letter-spacing: 2px;
            -webkit-text-fill-color: transparent;
            font-size: 1.15em;
            -webkit-text-stroke-width: 1px;
          }
        }

        .content-text:nth-of-type(2) {
          width: 80%;
          font: var(--paragraph-p1-regular);
          color: var(--zinc-400);
          line-height: 1.5;
        }
      }

      .box-content-text:nth-of-type(2) {
        .list-links-social-media {
          gap: 2rem;

          .item-link-social-media {
            border-radius: var(--border-radius-default);

            .link-social-media {
              width: 55px;
              height: 55px;
              border-radius: var(--border-radius-default);
              border: 2px solid var(--black-color);
            }
          }
        }
      }
    }
  }

  .box-figure {
    @media screen and (max-width: 1045px) {
      margin-bottom: 3.5rem;
    }

    .box-banner {
      width: 100%;
      height: 100%;

      .box-banner-image {
        width: 100%;
        height: 100%;

        .image-banner {
          right: 0;

          @media screen and (max-width: 1045px) {
            & {
              position: relative;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .box-section {
    .box-skills {
      margin: 1.5rem auto 5.75rem auto;

      @media screen and (max-width: 1275px) {
        margin: 5.75rem auto 2.5rem auto;
      }

      .box-content:nth-of-type(1) {
        gap: 3.75rem;

        @media screen and (max-width: 1275px) {
          gap: 2.25rem;
        }

        .box-skills-cards {
          width: 100%;
          gap: 1.5rem;

          .box-skills-list {
            overflow: hidden;
            width: 100%;
            column-gap: 4.5rem;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            justify-content: space-between;

            .box-skill-card {
              gap: 1.5rem;
              background-color: var(--white-color);
              border: 2px solid var(--black-color);
              height: 175px;
              border-radius: var(--border-radius-default);

              .box-skill-content .skill-content {
                font: var(--heading5-bold);
                color: var(--black-color);
              }

              &:hover {
                background-color: var(--black-color);

                & > .box-skill-content .skill-content {
                  color: var(--white-color);
                }

                & > .box-skill-logo > [aria-label="icon"] {
                  color: var(--white-color);
                }
              }
            }

            &:nth-of-type(1) {
              @media screen and (max-width: 1275px) {
                & {
                  gap: 1.5rem;
                }
              }
            }

            &:nth-of-type(2) {
              @media screen and (max-width: 1275px) {
                & {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    .box-experience {
      background-color: var(--black-color);
      padding: 4.5rem 0;

      .box-experience-container {
        .box-title {
          margin-bottom: $margin-bottom-box-title;
          .box-title-content {
            color: var(--white-color);
          }
        }

        .box-experience-list {
          width: 100%;
          padding: 1rem 0;
          gap: 2.5rem;

          .box-experience-card {
            min-height: 145px;
            gap: 1.55rem;
            padding: 1.25rem;
            border-radius: var(--border-radius-default);
            // border: 1px solid var(--zinc-400);
            box-shadow: 0 0 0px 2px rgba(113, 113, 122, 0.85);
            transition: all 0.2s ease-in-out;

            &:hover {
              background-color: var(--zinc-800);
            }

            .box-content-experience {
              gap: 1rem;
              width: 100%;
              flex-wrap: wrap;

              .box-content-title {
                gap: 1.25rem;

                .title-experience {
                  font: var(--heading4-semibold);
                  color: var(--white-color);
                }

                .image-experience {
                  object-fit: cover;
                  border-radius: 100%;
                }
              }

              .box-content-period {
                .title-period {
                  font: var(--heading6-semibold);
                  color: var(--zinc-300);
                }
              }
            }

            .description-experience {
              font: var(--paragraph-p1-regular);
              color: var(--zinc-300);
            }
          }
        }
      }
    }

    .box-about-me {
      .box-about-me-container {
        padding: 4.5rem 0.5rem;
        /* padding: 5rem 3rem; */
        flex-wrap: wrap;
        row-gap: 0.75rem;
        column-gap: 1.95rem;
        /* column-gap: 0.975rem; */

        .box-about-me-content {
          flex: 1 1 300px;
        }

        .box-about-me-content:nth-of-type(1) {
          .figure-about-me {
            width: 100%;
            /* max-width: 550px; */
          }
        }

        .box-about-me-content:nth-of-type(2) .box-about-me-subcontainer {
          gap: 1.85rem;

          .box-about-me-content-text {
            gap: 0.75rem;

            .about-me-content {
              font: var(--paragraph-p1-regular);
              color: var(--zinc-400);
              font-weight: 350;
              text-align: justify;
            }
          }
        }
      }
    }

    .box-projects {
      padding: $padding-parent;
      background-color: var(--black-color);

      .box-projects-container {
        .box-title {
          margin-bottom: $margin-bottom-box-title;
          text-align: center;
          .box-title-content {
            color: var(--white-color);
          }
        }

        .list-card-projects {
          width: 100%;

          .card-project {
            width: 100%;
            flex-wrap: wrap;
            gap: 2.5rem;
            padding: 0.95rem 0;

            &.right-side {
              flex-direction: row-reverse;
            }

            .box-content-project {
              flex: 1 1 200px;
            }

            .box-content-project:nth-of-type(1) .box-bg-image {
              background-color: rgba(64, 64, 64, 0.45);
              box-shadow: var(--borderShadow);
              backdrop-filter: blur(14px);
              border-radius: var(--border-radius-10);
              overflow: hidden;
              height: 385px;
              padding: 1.75rem;

              @media screen and (max-width: 1045px) {
                height: 310px;
              }

              .image-project {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: var(--border-radius-10);
              }
            }

            .box-content-project:nth-of-type(2) {
              flex: 1 1 450px;
              gap: 1.45rem;

              .box-text-project > .text-project {
                color: var(--white-color);
              }

              .box-text-project h1.text-project {
                font: var(--display-text-extrabold);
              }

              .box-text-project p.text-project {
                font: var(--paragraph-p1-regular);
              }

              .box-text-project a.link-project {
                width: 70px;
                padding: 0.55rem 0;

                .icon-project {
                  color: var(--white-color);
                }
              }
            }
          }
        }
      }
    }

    .box-testimonials {
      padding: $padding-parent;

      .box-testimonials-container {
        .box-title {
          text-align: center;
          margin-bottom: $margin-bottom-box-title;
        }

        .box-testimonials-list {
          width: 100%;
          padding: 0 2rem 0 0;
          grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
          row-gap: 3.5rem;
          column-gap: 3.5rem;

          .box-testimonial-item {
            padding: 2rem;
            border-radius: var(--border-radius-default);
            border: 2px solid var(--black-color);
            z-index: 1;
            background: var(--white-color);

            .box-shadow-description.absolute {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 15px;
              left: 10px;
              border-radius: var(--border-radius-default);
              background-color: var(--black-color);
              padding: 0.65rem;
              z-index: -1;

              .shadow-description {
                font: var(--heading6-semibold);
                color: var(--white-color);
              }
            }

            .text-testimonial {
              font: var(--button-semibold);
            }
          }
        }
      }
    }
  }
}

.box-title .box-title-content {
  font: var(--display-text-regular);
  color: var(--black-color);
}
