<!DOCTYPE html>
<app-header />
<main class="box-home-page">
  <header class="box-header-home flex container">
    <div
      class="box-header-container box-content flex flex-column justify-center align-start"
    >
      <div class="box-content-text flex flex-column">
        <p class="content-text">
          Olá, Eu sou
          <b>
            {{ owner | titlecase }}
            <br />
            Fullstack <b>Developer</b>
          </b>
          <br />
          Com sede em <b>Angola.</b>
        </p>

        <p class="content-text">
          Entusiasta das melhores tecnologias de desenvolvimento web e segurança
          cibernética. Sou apaixonado por desenvolvimento de software, com foco
          contínuo em qualidade, manutenibilidade e boas práticas. Estou sempre
          me aprofundando nos princípios de arquitetura limpa e código limpo,
          aplicando essas abordagens em projetos pessoais e profissionais para
          criar soluções escaláveis, desacopladas e sustentáveis de longo prazo.
        </p>
      </div>
      <div class="box-content-text">
        <ul
          class="list-links-social-media flex justify-center align-center"
          role="list"
        >
          @for (icon of headerHomePageNameIcons; track $index) {
          <li class="item-link-social-media box-shadow-click">
            <a
              class="link-social-media flex justify-center align-center"
              href="{{ icon.url }}"
              target="_blank"
              rel="noopener noreferrer"
            >
              <ng-icon name="{{ icon.nameIcon }}" size="21" />
            </a>
          </li>
          }
        </ul>
      </div>
    </div>
    <div
      class="box-header-container box-figure flex justify-center align-center"
    >
      <div class="box-banner relative flex justify-center align-center">
        <div class="box-banner-image">
          <img
            src="/home-page/bannerPersonX1.svg"
            alt="Banner"
            class="image-banner absolute"
            draggable="false"
            fetchpriority="high"
          />
        </div>
      </div>
    </div>
  </header>
  <section class="box-section">
    <article class="box-skills container">
      <div class="box-content flex flex-column justify-center align-center">
        <div class="box-title">
          <h1 class="box-title-content">Minhas <b>Habilidades</b></h1>
        </div>
        <nav class="box-skills-cards flex flex-column">
          <ul class="box-skills-list grid" role="list">
            @for (card of skillsCards1; track $index) {
            <li
              class="box-skill-card flex flex-column justify-center align-center"
            >
              <div class="box-skill-logo">
                <ng-icon
                  name="{{ card.iconName }}"
                  size="35"
                  strokeWidth="10"
                  aria-label="icon"
                />
              </div>
              <div class="box-skill-content">
                <h5 class="skill-content">
                  {{ card.content }}
                </h5>
              </div>
            </li>
            }
          </ul>
          <ul class="box-skills-list grid" role="list">
            @for (card of skillsCards2; track $index) {
            <li
              class="box-skill-card flex flex-column justify-center align-center"
            >
              <div class="box-skill-logo">
                <ng-icon
                  name="{{ card.iconName }}"
                  size="35"
                  aria-label="icon"
                />
              </div>
              <div class="box-skill-content">
                <h5 class="skill-content">
                  {{ card.content }}
                </h5>
              </div>
            </li>
            }
          </ul>
        </nav>
      </div>
    </article>
    <article class="box-experience">
      <div class="box-experience-container container">
        <div class="box-title flex justify-center">
          <h1 class="box-title-content">Minha <b>Experiência</b></h1>
        </div>
        <nav class="box-experience-list flex flex-column">
          @for (experience of experienceList; track $index) {
          <div class="box-experience-card flex flex-column">
            <div
              class="box-content-experience flex justify-between align-center"
            >
              <a
                href="{{ experience.companyLink }}"
                target="_blank"
                rel="noopener noreferrer"
                class="box-content-title flex justify-center align-center"
              >
                <img
                  src="{{ experience.companyLogo }}"
                  alt="Medicare Icon"
                  class="image-experience"
                  width="25"
                  height="25"
                  loading="lazy"
                />
                <h5 class="title-experience">
                  {{ experience.companyName }}
                </h5>
              </a>
              <div class="box-content-period flex justify-center align-end">
                <h5 class="title-period">
                  {{ experience.start_period | periodIfEmpty | titlecase }} -
                  {{
                    experience.ends_period
                      | periodIfEmpty : experience.start_period
                      | titlecase
                  }}
                </h5>
              </div>
            </div>
            <p class="description-experience">
              {{ experience.textExperience }}
            </p>
          </div>
          }
        </nav>
      </div>
    </article>
    <article class="box-about-me">
      <div class="box-about-me-container container flex">
        <div
          class="box-about-me-content box-about-me-figure flex justify-center align-center"
        >
          <img
            src="/home-page/about-me.svg"
            alt="About me figure"
            class="figure-about-me"
            draggable="false"
          />
        </div>
        <div class="box-about-me-content flex justify-start">
          <div class="box-about-me-subcontainer flex flex-column">
            <div class="box-title">
              <h1 class="box-title-content">Sobre <b>Mim</b></h1>
            </div>
            <nav class="box-about-me-content-text flex flex-column" role="list">
              @for (text of aboutMeContent; track $index) {
              <p class="about-me-content" role="listitem">{{ text }}</p>
              }
            </nav>
          </div>
        </div>
      </div>
    </article>
    <article class="box-projects">
      <div class="box-projects-container container">
        <div class="box-title">
          <h1 class="box-title-content">Meus <b>Projectos</b></h1>
        </div>
        <nav class="list-card-projects flex flex-column" role="listbox">
          @for (item of projectList; track $index) {
          <div
            class="card-project flex {{
              $index | pairAndPadStart : 'pair' : true
            }}"
            role="listitem"
          >
            <div class="box-content-project">
              <div class="box-bg-image">
                <img
                  ngSrc="{{ item.urlImage }}"
                  alt="Imagem do projecto P1"
                  class="image-project"
                  width="100"
                  height="100"
                  priority
                />
              </div>
            </div>
            <div class="box-content-project flex flex-column justify-center">
              <div class="box-text-project">
                <h1 class="text-project">
                  {{ $index | pairAndPadStart : "pad" : true }}
                </h1>
              </div>
              <div class="box-text-project">
                <h1 class="text-project">{{ item.titleProject }}</h1>
              </div>
              <div class="box-text-project">
                <p class="text-project">{{ item.description }}</p>
              </div>
              <div class="box-text-project">
                <a
                  class="link-project flex justify-start align-center"
                  href="{{ item.urlCase }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <ng-icon
                    name="hugeLinkSquare01"
                    size="30"
                    class="icon-project"
                  />
                </a>
              </div>
            </div>
          </div>
          }
        </nav>
      </div>
    </article>
    <article class="box-testimonials">
      <div class="box-testimonials-container container">
        <div class="box-title">
          <h1 class="box-title-content">Meus <b>Depoimentos</b></h1>
        </div>
        <ul class="box-testimonials-list grid" role="list">
          @for (item of testimonialsList; track $index) {
          <li class="box-testimonial-item relative" role="listitem">
            <div class="box-shadow-description">
              <p class="text-testimonial">
                I recently had to jump on 10+ different calls across eight
                different countries to find the right owner.
              </p>
            </div>
            <div
              class="box-shadow-description absolute flex justify-end align-end"
            >
              <h1 class="shadow-description">Delcio Capolo | Medicare</h1>
            </div>
          </li>
          }
        </ul>
      </div>
    </article>
  </section>
</main>
<app-footer />
