:root {
  --primary-color: #000000;
  --neutral-color: #404040;
  --white-color: #ffffff;

  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-001-color: #f8f9fa;
  --black-color: #1e1b18;
  --black-001-color: #0d1321;
  --black-002-color: #1c1c1c;
  --gray-color: #daddd8;

  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #71717a;
  --zinc-800: #27272a;

  --z-index-10: 999;
  --z-index-9: 995;

  --border-radius-default: 5px;
  --borderShadow: 0 0 0 2px rgba(64, 64, 64, 1);
  --border-radius-10: 10px;
}
