:root {
  /* DISPLAY */
  --display-text-regular: normal 300 clamp(1.5rem, 2.5vw, 3.5rem)
      "Sora Variable",
    sans-serif;
  --display-text-extrabold: normal 700 clamp(1.5rem, 2.5vw, 3.5rem)
      "Sora Variable",
    sans-serif;

  /* BUTTON */
  --button-regular: 1.25rem "Sora Variable", sans-serif;
  --button-semibold: normal 450 clamp(0.9rem, 0.95rem + 0.2vw, 1rem)
      "Sora Variable",
    sans-serif;

  /* HEADING */
  /* HEADING 6 */
  --heading6-regular: normal 200 clamp(0.8rem, 0.65rem + 0.2vw, 0.9rem)
      "Sora Variable",
    sans-serif;
  --heading6-semibold: normal 450 clamp(0.8rem, 0.65rem + 0.2vw, 0.9rem)
      "Sora Variable",
    sans-serif;
  /* HEADING 5 */
  --heading5-semibold: normal 550 clamp(0.9375rem, 1rem + 0.25vw, 1.125rem)
      "Sora Variable",
    sans-serif;
  --heading5-bold: normal 600 clamp(0.9375rem, 1rem + 0.25vw, 1.125rem)
      "Sora Variable",
    sans-serif;
  /* HEADING 4 */
  --heading4-semibold: normal 450 clamp(1.0625rem, 0.75rem + 0.45vw, 1.25rem)
      "Sora Variable",
    sans-serif;

  /* PARAGRAPH */
  --paragraph-p1-regular: normal 300 clamp(0.6rem, 0.5rem + 0.3vw, 1rem)
      "Sora Variable",
    sans-serif;
}
