@import url("./style-prevents/default-styles.scss");
@import url("./style-prevents/pallete.scss");
@import url("./style-prevents/responsive.scss");
@import url("./style-prevents/utils.scss");
@import url("./style-prevents/sizes.scss");

body {
  font-family: "Sora Variable", sans-serif;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}
