.footer-page {
  width: 100%;
  margin-top: 10rem;

  .box-footer-container {
    
    .box-footer-info {
      width: 100%;
      gap: 2.5rem;
      @media screen and (max-width: 1045px) {
        flex-direction: column;
      }
  
      .box-footer-content {
        flex: 1 1 250px;
        margin-bottom: 10rem;
  
        .box-footer-inputs:not(:last-of-type) {
          margin-bottom: 1.05rem;
  
          .footer-input {
            width: 100%;
            padding: 1.15rem 0.85rem;
            outline: none;
            border: 2px solid var(--black-color);
            border-radius: var(--border-radius-default);
            font: var(--heading6-regular);
            color: var(--zinc-400);
          }
        }
  
        .box-footer-inputs:last-of-type {
          flex-wrap: wrap;
  
          .btn-submit-touch {
            flex: 1 1 200px;
            font: var(--heading5-semibold);
            color: var(--white-color);
            background-color: var(--black-002-color);
            border-radius: var(--border-radius-default);
            padding: 1rem 3rem;
            height: 60px;
          }
  
          gap: 1.5rem;
  
          .list-box-touch {
            gap: 1.5rem;
            .item-touch {
              border-radius: var(--border-radius-default);
  
              .link-touch {
                width: 65px;
                height: 60px;
                border-radius: var(--border-radius-default);
                border: 2px solid var(--black-color);
              }
            }
          }
        }
  
        .content-description {
          height: 100%;
          gap: 2.05rem;
  
          .contact-content-card {
            &:first-of-type {
              font: normal 700 clamp(1.0625rem, 2.75vw, 3.25rem) "Sora Variable", sans-serif;
  
              & > b {
                color: var(--black-color);
                letter-spacing: 2px;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 1px;
              }
            }
  
            &:nth-of-type(2) {
              font: var(--heading5-regular);
              color: var(--zinc-400);
            }
          }
  
          .contact-info {
            gap: 0.55rem;
  
            & > a {
              font: normal 700 clamp(1.0625rem, 1.75vw, 3.25rem) "Sora Variable", sans-serif;
            }
          }
        }
      }
    }  
  }

  .footer-root {
    background-color: var(--black-002-color);
    
    & > .container {
      min-height: 5.5rem;

      .footer-root-info {
        .footer-root-content {
          color: var(--white-color);
        }

        &:last-of-type {
          gap: 0.85rem;
        }
      }
    }
  }
}
