<footer class="footer-page">
  <div class="box-footer-container container flex">
    <form action="" method="get" class="box-footer-content">
      <div class="box-footer-inputs">
        <input
          type="text"
          name="footer-costumer-name"
          placeholder="Seu nome*"
          required
          class="footer-input"
        />
      </div>
      <div class="box-footer-inputs">
        <input
          type="email"
          name="footer-costumer-delciocapolo096@gmail.com"
          placeholder="Email*"
          required
          class="footer-input"
        />
      </div>
      <div class="box-footer-inputs">
        <input
          type="text"
          name="footer-costumer-url-website"
          placeholder="Seu website (se existe)"
          class="footer-input"
        />
      </div>
      <div class="box-footer-inputs">
        <textarea
          name="footer-costumer-problem"
          id=""
          rows="6"
          required
          placeholder="Como posso ajudar?*"
          class="footer-input"
        ></textarea>
      </div>
      <div class="box-footer-inputs flex justify-start align-center">
        <button type="submit" class="btn-submit-touch" name="btn-submit-touch">
          Entrar em Contacto
        </button>
        <ul class="list-box-touch flex align-center" role="list">
          @for (touch of headerHomePageNameIcons; track $index) {
          <li class="item-touch">
            <a
              routerLink="http://"
              target="_blank"
              rel="noopener noreferrer"
              class="link-touch flex justify-center align-center"
            >
              <ng-icon name="{{ touch.nameIcon }}" size="25" />
            </a>
          </li>
          }
        </ul>
      </div>
    </form>
    <div class="box-footer-content">
      <div class="flex justify-center align-center">delcio</div>
    </div>
  </div>
</footer>
